@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />


    <div class="container" style="min-height: 621px;">
        <h2>Create</h2>
        <h4 style="color: green;">Employee</h4>
        <hr>
        <div style="margin-left: 130px;">
            <form action="Create" method="post">
                @*<div class="form-group row">
            <label class="col-sm-3 col-form-label"><b>EmployeeId</b></label>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="EmployeeId" placeholder="">
            </div>
        </div>*@
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>EmployeeName</b></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="EmployeeName" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>DepartmentId</b></label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" name="DepartmentId" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>DesignationID</b></label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" name="DesginationID" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>Email</b></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="Email" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>Address</b></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="Address" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>Date</b></label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="Date" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>Gender</b></label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="Gender" placeholder="">
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-success" style="margin-left: 252px;">Create</button>
            </form>
        </div>
        <br>
        <br>
        <a asp-controller="Designation" asp-action="Index" style="text-decoration: none;">Back to list</a>
        <hr>
        <br>
    </div>

}
