@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model EmployeeModel


    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />



    <div class="container" style="min-height: 621px;">
        <h2>Edit</h2>
        <h4 style="color: green;">Edit for Employee section..</h4>
        <hr>
        <div style="margin-left: 130px;">
            <form asp-action="Edit" asp-controller="Employee" method="post">
                <input asp-for="EmployeeId" hidden />
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>EmployeeName</b></label>

                    <div class="col-sm-4">
                        <input asp-for="EmployeeName" class="form-control">
                        <span asp-validation-for="EmployeeName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>DepartmentId</b></label>

                    <div class="col-sm-4">
                        <input asp-for="DepartmentId" class="form-control">
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>DesignationID</b></label>

                    <div class="col-sm-4">
                        <input asp-for="DesignationID" class="form-control">
                        <span asp-validation-for="DesignationID" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>Email</b></label>

                    <div class="col-sm-4">
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>Address</b></label>

                    <div class="col-sm-4">
                        <input asp-for="Address" class="form-control">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>Date</b></label>

                    <div class="col-sm-4">
                        <input asp-for="Date" class="form-control">
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>Gender</b></label>

                    <div class="col-sm-4">
                        <input asp-for="Gender" class="form-control">
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-success" style="margin-left: 252px;">Update</button>
            </form>
        </div>
        <br>
        <br>
        <a asp-controller="Department" asp-action="Index" style="text-decoration: none;">Back to list</a>
        <hr>
        <br>
    </div>

}
