

    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<div style="min-height: 288px;">
    <div>
        <h3 style="margin-top: 33px; color: #0062cc; margin-left: 14px;">About us:</h3>
    </div>
    <h2 style="color: green; text-align:center">Stay warm and choose always Himalya Organic Farm!!!</h2>
    <p style="text-align: justify; width: 50%; margin-left: 412px; margin-top:52px; font-size:19px;">Himalaya Organic Farm is an agro-industrial corporation with vast plantations 
    and factories in the north of Nepal. It is the management system of employees information kepp safely.
    It's function in an organizations is safely keep and manage employee informations.
    </p>
</div>